.KeyBoard {
  width: 50%;
  float: left;
  padding: 20px;
  margin-left: 5%;
}
.keyboardRows {
  margin-top: 5rem;
}
.hint{
  text-align: center;
}
.hintText {
  visibility: hidden;
  width: 10rem;
  background-color: white;
  text-align: center;
  border: 1px solid green;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
}
.hint:hover .hintText {
  visibility: visible;
  color: green;
  font-weight: bold;
}
.userGuessList {
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
}
.guessListLetter {
  display: inline;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
}
.win {
  text-align: center;
}
.hangman {
  width: 30%;
  float: left;
  padding: 20px;
}
.hangman img {
  width: 25rem;
}
.keyBoardHangman {
  width: 100%;
  float: left;
}
.keyboardLetter {
  display: inline-table;
  border: 2px solid #4caf50;
  padding: 1rem;
  margin: 0.2rem;

  border-radius: 0.5rem;
}
.keyboardLetter:hover {
  background-color: #4caf50;
  color: white;
  border: 2px solid #a0522d;
}
.keyboardLetters {
  text-align: center;
}
.guess,
.retries {
  text-align: center;
}
.guessWord {
  font-size: 2rem;
}
.restartButton {
  font-size: 1rem;
  margin-top: 1rem;
  background-color: green; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
.restartButton:hover {
  background-color: #ff4500;
  color: white;
}
.gameover {
  width: 50%;
  float: left;
  padding: 20px;
  margin-top: 5%;
  margin-left: 5%;
}
.gameoverText {
  font-size: 3rem;
  font-weight: bold;
  color: #ff4500;
}
.gameoverPText {
  font-size: 1rem;
  font-weight: bold;
}
.gameoverDiv {
  padding: 20px;
  text-align: center;
}
.funeralcar {
  padding: 20px;
  text-align: center;
  animation: funeralRotation 5s infinite linear;
}
.funeralcar img {
  width: 10rem;
}
.win {
  width: 50%;
  float: left;
  padding: 20px;
  margin-top: 5%;
  margin-left: 5%;
}
.winText {
  font-size: 3rem;
  font-weight: bold;
  color: green;
}
.winPText {
  font-size: 1rem;
  font-weight: bold;
}
.winDiv {
  width: 50%;
  float: left;
  padding: 20px;
}
.medal {
  width: 30%;
  float: left;
  padding: 20px;
  text-align: center;
  animation: medalRotation 3s infinite linear;
}
.medal img {
  width: 10rem;
}
@keyframes medalRotation {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes funeralRotation {
  0% {
    width: 20rem;
  }
  25% {
    width: 40rem;
  }
  50% {
    width: 20rem;
  }
  75% {
    width: 40rem;
  }
  100% {
    width: 20rem;
  }
}
