.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 0.1rem 0.5rem;
}
.headerIcon {
  width: 5rem;
  height: 5rem;
  float: right;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
}

.header a.logo {
  font-size: 3rem;
  font-weight: bold;
  width: 20%;
}
.header-right {
  width: 20%;
  float: right;
}
